---
---

<script lang="js">
function TypeWriter() {
    const typedText = document.querySelector(".typed-text");
    const cursor = document.querySelector(".cursor");

    const textArray = ["Web Developer", "Web Designer", "Tutor", "Learner..."];

    let textArrayIndex = 0;
    let charIndex = 0;

    const erase = () => {
        if (charIndex > 0) {
            cursor.classList.remove("blink");
            typedText.textContent = textArray[textArrayIndex].slice(0, charIndex - 1);
            charIndex--;
            setTimeout(erase, 80);
        } else {
            cursor.classList.add("blink");
            textArrayIndex++;
            if (textArrayIndex > textArray.length - 1) {
                textArrayIndex = 0;
            }
            setTimeout(type, 1000);
        }
    };

    const type = () => {
        if (charIndex <= textArray[textArrayIndex].length - 1) {
            cursor.classList.remove("blink");
            typedText.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, 120);
        } else {
            cursor.classList.add("blink");
            setTimeout(erase, 1000);
        }
    };

    document.addEventListener("DOMContentLoaded", () => {
        type();
    });
}
</script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

    /* :root {
        --comfortaa: "Comfortaa", cursive;
        --redressed: "Redressed", cursive;

        --dark: #1c1c1c;
        --light: #c4c4c4;
        --teal: #008080;
    } */

    /* * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    } */

    body {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: var(--dark); */
    }

    p {
        font-size: 2.4rem;
        /* color: var(--light); */
        /* font-family: var(--comfortaa); */
    }

    .typed-text {
        /* color: var(--teal); */
        /* font-family: var(--redressed); */
    }

    .cursor {
        display: inline-block;
        width: 3px;
        margin-left: 4px;
        /* background: var(--teal); */
    }

    .cursor.blink {
        animation: blink 0.8s ease-in-out infinite;
    }

    @keyframes blink {
        0%,
        100% {
            /* background: var(--teal); */
        }
        40%,
        50% {
            background: transparent;
        }
    }
</style>

<div>
    <span class="typed-text"></span><span class="cursor blink">&nbsp;</span>
</div>
